* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: sans-serif;
}

nav {
    width: 100%;
    height: 80px;
    position: absolute;
    padding-top: 25px;
    z-index: 99;
}

nav .logo {
    float: left;
    color: white;
    cursor: pointer;
    margin-left: 42px;
}

.topnav {
    float: right;
    display: flex;
    padding-top: 25px;
    margin-right: 70px;
}

.nav-item {
    list-style: none;
}

.nav-item a {
    font-size: 16px;
    padding: 0px 25px;
    color: white;
    text-decoration: none;
}

.icon {
    display: none;
}

.nav-item a:hover {
    color: #eb2b63;
    transition: 0.2s;
}

.user-panel {
    float: right;
    background: #eb2b63;
    color: #fff;
    margin-left: 30px;
    font-size: 14px;
    padding: 12px 19px;
    line-height: 1;
    border-radius: 14px;
    margin-top: -13px;
}

.user-panel a {
    color: #fff;
    text-decoration: none;
}


.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9,
.column-10,
.column-11,
.column-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}

.column-1 {
    max-width: 8.33%;
}

.column-2 {
    max-width: 16.66%;
}

.column-3 {
    max-width: 25%;
}

.column-4 {
    max-width: 33.33%;
}

.column-5 {
    max-width: 41.66%;
}

.column-6 {
    max-width: 50%;
    text-align: inherit;
}

.column-7 {
    max-width: 58.33%;
}

.column-8 {
    max-width: 66.66%;
}

.column-9 {
    max-width: 75%;
}

.column-10 {
    max-width: 83.33%;
}

.column-11 {
    max-width: 91.66%;
}

.column-12 {
    max-width: 100%;
}

.container {
    max-width: 1175px;
    margin: 0 auto;
}


.rocket {
    background-image: url(img/bg.jpg.webp);
    padding-top: 193px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.rocket-heading {
    color: #fff;
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1;
}

.rocket-P {
    font-size: 14px;
    color: white;
    line-height: 2;
}

.button {
    display: inline-block;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    width: 186px;
    padding: 17px 25px;
    margin-top: 21px;
    border-radius: 14px;
    background: #eb2b63;
    color: #fff;
    line-height: 1;
    cursor: pointer
}

.features-section {
    text-align: center;
    padding-top: 105px;
    padding-bottom: 105px;
}

.feature-rocket:hover {
    margin-top: -15px;
    transition: 0.2s;
}

.features-section .section-title {
    padding-bottom: 48px;
}

.section-title h2 {
    font-size: 48px;
    font-weight: 700;
}


.rocket-icon {
    font-size: 48px;
    margin-bottom: 40px;
    color: #eb2b63;
}


.features-section h4 {
    margin-bottom: 28px;
    font-size: 24px;
}

.features-section p {
    font-size: 14px;
    color: #585858;
    line-height: 2;
    padding-left: 20px;
    padding-right: 21px;
}

.feature-rocket {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-top: 34px;
    padding-right: 2px;
    padding-bottom: 34px;
    padding-left: 2px;
    margin-bottom: 24px;
    border-radius: 9px;
}

.search-section .section-title {
    padding-bottom: 48px;
    padding-top: 36px;
    color: white;
}

.search-section {
    background-image: url(img/domain-bg.jpg.webp);
    text-align: center;
    background-size: cover;
    padding-top: 105px;
    padding-bottom: 105px;
}

.domain-form-warp {
    width: 962px;
    margin: 0 auto
}

.domain-form-warp input {
    width: 84%;
    height: 55px;
    border-radius: 13px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 14px;
    border: none;
    margin-bottom: 15px;
    margin-right: 5px;
}

.Search-button {
    width: 15%;
    height: 55px;
    border-radius: 13px;
    background: #eb2b63;
    color: #fff;
    border: none;
}

.domain-form-warp p {
    text-align: left;
    color: #ffffff47;
}


.pricing-section {
    text-align: center;
    padding-top: 86px;
    padding-bottom: 86px
}

.pricing-title {
    padding: 16px;
    background: #7246b3;
    color: white;
    border-radius: 15px;
    font-size: 24px;
    margin-bottom: 21px;
}


.pricing-section .section-title {
    margin-bottom: 80px;
}

.pricing-title1 {
    padding: 16px;
    background: #eb2b63;
    color: white;
    border-radius: 15px;
    font-size: 24px;
    margin-bottom: 21px;
}

.pricing-title h4 {
    font-size: 25px;
}


.pricing-body {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background: #eef6f9;
    padding: 54px 68px 52px;
    border-radius: 17px;
}

.pricing-body:hover {
    margin-top: -15px;
    transition: 0.2s;
}

.pricing-title1 h4 {
    font-size: 25px;
}

.pricing-body ul {
    list-style: none;
    color: #585858;
}

.pricing-body h2 {
    font-size: 60px;
    margin-bottom: 50px;
    font-weight: 400;
}

.pricing-body li {
    margin-bottom: 36px;
}

.site-btn {
    background-color: #bf4f62;
    padding: 13px 52px 18px 52px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.banner-section {
    background-image: url(img/banner-bg.jpg.webp);
    padding-top: 113px;
    padding-bottom: 96px;
    color: white;
}

.Get-Started {
    background-color: red;
    padding: 13px 52px 18px 52px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.banner-section h3 {
    font-size: 39px;
    font-weight: 400;
    margin-bottom: 3px;
}

.banner-section p {
    font-size: 17px;
}

.p-0 {
    padding: 0px;
}

.banner-text-right {
    margin-top: 12px;
    text-align: right;
}

.footer-ITlock {
    background: #200545;
    padding-top: 105px;
    padding-bottom: 105px;

}

.footer-widget img {
    margin-bottom: 40px;

}

.footer-widget p {
    font-size: 14px;
    line-height: 2;
    color: #ffffff47;
    margin-bottom: 30px;
}

.social-media a {
    display: inline-flex;
    width: 32px;
    height: 32px;
    color: #fff;
    background: #491f70;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 13px;
    font-size: 12px;
}

.Usefull-heading {
    margin-bottom: 45px;
    padding-top: 27px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.footer-widget2 li {
    list-style: none;
    margin-bottom: 14px;
}

.footer-widget2 a {
    text-decoration: none;
    color: #ffffff47;
}

.fw-title {
    margin-bottom: 45px;
    padding-top: 27px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.footer-widget3 img {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 10px;
}

.lp-content h6 {
    color: #ffffff47;
    margin-bottom: 7px;
}

.lp-content span {
    color: red;
}

.social-icons {
    font-size: inherit;
}

/* about us */

.about-search-section {
    text-align: center;
    background-size: cover;
    padding-top: 105px;
    padding-bottom: 105px;
}

.about-domain-search-form input {
    background: #f5f1f8;
    width: 84%;
    height: 55px;
    border-radius: 13px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 14px;
    border: none;
    margin-bottom: 15px;
    margin-right: 5px;
}

.about-section-title {
    margin-bottom: 80px;
}

.about-section-title h2 {
    font-size: 48px;
    font-weight: 700;
}

.about-rocket {
    background-image: url(img/bg.jpg.webp);
    padding-top: 193px;
    height: 404px;
}

.about-rocket h2 {
    color: #fff;
    font-size: 51px;
    font-weight: 500;
}

.about-home {
    color: #fff;
    font-size: 14px;
}

.about-home a {
    color: #fff;
    text-decoration: none;
}

.about-section {
    padding-bottom: 74px;
}

.about-section h3 {
    margin-bottom: 35px;
    font-size: 29px;
}

.about-section p {
    font-size: 14px;
    color: #585858;
    line-height: 2;
    margin-bottom: 40px;
}

.milestones-section {
    background-image: url(img/milestones-bg.jpg.webp);
    padding-top: 90px;
    padding-bottom: 22px;
    background-repeat: no-repeat;
    background-size: cover;
}

.milestones-section p {
    color: white;
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 70px;
}

.mile-button {
    margin-top: 36px;
    text-align: center;
}

.icon-item {
    text-align: center;
}

.icon-item h2 {
    font-size: 72px;
    color: white;
    font-weight: 400;
}

.icon-star {
    font-size: 72px;
    color: #eb2b63;
}

.team-member img {
    width: 100%;
    border-radius: 34px;
    margin-bottom: 48px;
}

.team-section {
    padding-top: 105px;
    padding-bottom: 105px;
}

.section-team {
    text-align: center;
    margin-bottom: 80px;
}

.section-team h2 {
    font-size: 48px;
    font-weight: 700;
}

.team-member {
    text-align: center;
}

.team-member h4 {
    font-size: 24px;
    margin-bottom: 9px;
}

/* services */

.service-box-text {
    padding: 145px 80px 155px;
    height: 100%;
    color: white;
}

.service-box-image {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    padding: 50px 30px;
}

.service-box-image img {
    width: 100%;
}

.background-1 {
    background-color: #1b0a52;
}

.background-2 {
    background-color: #2e1779;
}

.background-3 {
    background-color: #422b8f;
    height: 100%;
}

.service-box-text h4 {
    font-size: 30px;
    margin-bottom: 25px;
}

.service-box-text p {
    line-height: 2;
    font-size: 14px;
    margin-bottom: 39px;
}


/*news*/

.blog-section {
    padding-top: 105px;
    padding-bottom: 105px;
}

.sb-widget img {
    width: 100%;
}

.post-thumb {
    border-radius: 13px;
    margin-bottom: 52px;
}

.sb-search-widget {
    position: relative;
}

.sb-search-widget input {
    width: 100%;
    height: 59px;
    padding-left: 15px;
    padding-right: 75px;
    border: none;
    background: #f5f1f8;
    border-radius: 12px;
}

.sb-search-widget button {
    position: absolute;
    height: 100%;
    right: 15px;
    top: 0;
    font-size: 14px;
    color: #acacac;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sb-widget img {
    border-radius: 13px;
    margin-bottom: 23px;
}

.post-date {
    background-color: red;
    color: white;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 7px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 12px;
}

.post-meta {
    display: inline-block;
    font-size: 12px;
    color: #acacac;
    font-weight: 600;
    margin-right: 13px;
    padding-right: 14px;
    position: relative;
}

.blog-post h4 {
    margin-bottom: 14px;
    font-size: 24px;
}

.post-metas {
    margin-bottom: 14px;
}

.blog-post p {
    color: #585858;
    line-height: 2;
    margin-bottom: 26px;
}

.lp-item img {
    width: 64px;
    height: 64px;
    border-radius: 7px;
    margin-right: 22px;
}

.sb-latest-post {
    margin-bottom: 60px;
}

.sb-widget {
    margin-bottom: 75px;
}

.sb-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 45px;
}

.lp-item {
    display: flex;
    margin-bottom: 11px;
    flex-direction: row;
}

.new-content h6 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

.new-content span {
    color: red;
}

.sb-widget ul {
    list-style: none;
}

.sb-widget a {
    display: inline-block;
    color: #acacac;
    text-decoration: none;
    margin-right: 20px;
    margin-bottom: 10px;
}

.sb-widget li {
    margin-bottom: 15px;
}

.site-pagination a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    margin-right: 3px;
}


/*contact*/

.contact-section {
    padding-top: 66px;
    padding-bottom: 66px;
}

.contact-form input {
    width: 100%;
    height: 56px;
    border: none;
    padding: 0 29px;
    background: #eff4f7;
    border-radius: 4px;
    margin-bottom: 21px;
}

.contact-form textarea {
    width: 100%;
    height: 152px;
    border: none;
    padding: 22px 29px;
    background: #eff4f7;
    border-radius: 4px;
    margin-bottom: 21px;
}

.contact-form {
    padding-top: 64px;
}

.contact-button {
    background-color: #bf4f62;
    padding: 13px 52px 18px 52px;
    font-size: 14px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    border: none;
}

.contact-section h4 {
    font-size: 24px;
    margin-bottom: 30px;
}

.contact-section p {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 12px;
}

.contact-info {
    display: flex;
    margin-bottom: 16px;
}

.contact-info span {
    margin-left: 11px;
}


@media screen and (max-width: 768px) {

    nav {
        width: 100%;
        height: 80px;
        position: absolute;
        padding-top: 25px;
        z-index: 99;
    }

    nav .logo {
        float: left;
        color: white;
        cursor: pointer;
        margin-left: 42px;
    }

    .icon {
        color: white;
        font-size: 32px;
        display: flex;
        justify-content: flex-end;
        margin-right: 130px;
        margin-top: 12px;
    }

    .topnav {
        float: right;
        display: flex;
        padding-top: 25px;
        margin-right: 70px;
        display: none;
    }

    .topnav.responsive {
        background-color: #efefef;
        position: relative;
        display: flex;
        padding-top: 24px;
        flex-direction: column;
        width: 100%;
        margin-right: auto;
    }

    .detail-box2 {
        text-align: left;
    }

    .nav-item {
        list-style: none;
        padding-bottom: 34px;
    }

    .nav-item a {
        font-size: 16px;
        padding: 0px 25px;
        color: black;
        text-decoration: none;
    }

    .nav-item a:hover {
        color: #eb2b63;
        transition: 0.2s;
    }


    .user-panel {
        float: right;
        background: #eb2b63;
        color: #fff;
        margin-left: 30px;
        font-size: 14px;
        padding: 12px 19px;
        line-height: 1;
        border-radius: 14px;
        margin-top: 13px;
        width: 19%;
        margin-bottom: 28px;
    }

    .rocket {
        background-image: url(img/bg.jpg.webp);
        padding-top: 193px;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    .row {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;

    }

    .column-1 {
        max-width: 100%;
    }

    .column-2 {
        max-width: 100%;
    }

    .column-3 {
        max-width: 100%;
    }

    .column-4 {
        max-width: 100%;
    }

    .column-5 {
        max-width: 100%;
    }

    .column-6 {
        max-width: 100%;
    }

    .column-7 {
        max-width: 100%;
    }

    .column-8 {
        max-width: 100%;
    }

    .column-9 {
        max-width: 100%;
    }

    .column-10 {
        max-width: 100%;
    }

    .column-11 {
        max-width: 100%;
    }

    .column-12 {
        max-width: 100%;
    }

    .domain-form-warp {
        margin: 0 auto;
    }

    .domain-form-warp input {
        height: 55px;
        border-radius: 13px;
        padding-right: 30px;
        padding-left: 30px;
        font-size: 14px;
        border: none;
        margin-bottom: 15px;
        margin-right: 5px;
        width: 66%;
    }

    .rocket {
        text-align: center;
        background-image: url(img/bg.jpg.webp);
        padding-top: 193px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    .search-section {
        background-image: url(img/domain-bg.jpg.webp);
        text-align: center;
        background-size: cover;
        padding-top: 50px;
        padding-bottom: 50px;
    }


    .domain-form-warp {
        margin: 0 auto;
        width: 93%;
        /* max-width: 993px; */
        margin: 0 auto;
    }

    .feature-rocket {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding-top: 34px;
        padding-right: 2px;
        padding-bottom: 34px;
        padding-left: 2px;
        margin-bottom: 24px;
        border-radius: 9px;
        margin-left: 111px;
        margin-right: 111px;
    }

    .Search-button {
        width: 32%;
        height: 55px;
        border-radius: 13px;
        background: #eb2b63;
        color: #fff;
        border: none;
    }

    .pricing-section {
        text-align: center;
        padding-top: 86px;
        padding-bottom: 86px;
        width: 66%;
        margin: 0 auto;
    }

    .pricing-title1 {
        padding: 16px;
        background: #eb2b63;
        color: white;
        border-radius: 15px;
        font-size: 24px;
        margin-bottom: 21px;
        margin-top: 41px;
    }

    .pricing-title {
        padding: 16px;
        background: #7246b3;
        color: white;
        border-radius: 15px;
        font-size: 24px;
        margin-bottom: 21px;
        margin-top: 31px;
    }


    .banner-section {
        text-align: left;
        padding-top: 113px;
        padding-bottom: 96px;
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    .banner-section p {
        font-size: 17px;
        margin-top: 23px;
    }

    .banner-text-right {
        text-align: left;
        margin-top: 35px;
    }

    .footer-ITlock {
        text-align: left;
        background: #200545;
        padding-top: 105px;
        padding-bottom: 105px;
    }

    .lp-item img {
        width: 64px;
        border-radius: 7px;
    }

    /*about us*/

    .about-section img {
        margin-top: 54px;
    }

    .icon-item {
        text-align: center;
        margin-top: 90px;
    }

    .milestones-section-text{
        margin-bottom: 97px;
    }

    .team-member {
        text-align: center;
        margin-bottom: 50px;
    }

    .team-member img {
        width: 62%;
        border-radius: 34px;
        margin-bottom: 48px;
    }

    /* blog*/

    .post-thumb {
        border-radius: 13px;
        margin-bottom: 52px;
        width: 100%;
    }

    .site-pagination {
        margin-bottom: 21px;
    }

    .icon-item {
        text-align: center;
        margin-top: auto;
    }

}

@media screen and (max-width: 480px) {
    nav {
        width: 100%;
        padding-top: 24px;
        z-index: 999;
    }

    nav .logo {
        float: left;
        color: white;
        cursor: pointer;
        margin-left: 21px;
    }

    .nav-item {
        border-top: 1px solid #efefef;
        list-style: none;
        margin-bottom: auto;
        padding: 13px 35px;
    }

    .nav-item a {
        font-size: 16px;
        padding: 0px 25px;
        color: black;
        text-decoration: none;
    }

    .nav-item a:hover {
        color: #eb2b63;
        transition: 0.2s;
    }

    .detail-box2 {
        padding-bottom: 66px;
    }

    .icon {
        color: white;
        font-size: 32px;
        display: flex;
        justify-content: flex-end;
        margin-right: 86px;
        margin-top: 17px;
    }

    .topnav {
        float: right;
        background-color: white;
        display: flex;
        padding-top: 25px;
        margin-right: 70px;
        display: none;
    }

    .topnav.responsive {
        width: 100%;
        position: relative;
        margin-right: auto;
        display: flex;
        padding-top: 63px;
        flex-direction: column;
        padding-bottom: 29px;
    }

    .user-panel {
        width: 32%;
        float: right;
        margin-left: 49px;
        font-size: 14px;
        padding: 13px 21px;
        line-height: 1;
        border-radius: 14px;
        margin-top: 12px;
    }

    .image1 {
        width: 100%;
    }


    .rocket {
        text-align: center;
        background-image: url(img/bg.jpg.webp);
        padding-top: 14px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    .rocket-heading {
        color: #fff;
        font-size: 56px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 1;
        margin-top: 240px;
    }

    .feature-rocket {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding-top: 34px;
        padding-right: 2px;
        padding-bottom: 34px;
        padding-left: 2px;
        margin-bottom: 24px;
        border-radius: 9px;
        margin-left: 26px;
        margin-right: 26px;
    }

    .row {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;

    }

    .column-1 {
        max-width: 100%;
    }

    .column-2 {
        max-width: 100%;
    }

    .column-3 {
        max-width: 100%;
    }

    .column-4 {
        max-width: 100%;
    }

    .column-5 {
        max-width: 100%;
    }

    .column-6 {
        max-width: 100%;
    }

    .column-7 {
        max-width: 100%;
    }

    .column-8 {
        max-width: 100%;
    }

    .column-9 {
        max-width: 100%;
    }

    .column-10 {
        max-width: 100%;
    }

    .column-11 {
        max-width: 100%;
    }

    .column-12 {
        max-width: 100%;
    }

    .domain-form-warp input {
        height: 55px;
        border-radius: 13px;
        padding-right: 30px;
        padding-left: 30px;
        font-size: 14px;
        border: none;
        margin-bottom: 15px;
        margin-right: 5px;
        width: 100%;
    }

    .Search-button {
        width: 100%;
        height: 55px;
        border-radius: 13px;
        background: #eb2b63;
        color: #fff;
        border: none;
    }

    .domain-form-warp p {
        margin-top: 12px;
    }

    .pricing-section {
        text-align: center;
        width: 100%;
    }

    .banner-section h3 {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 3px;
        text-align: left;
    }

    .banner-section p {
        font-size: 17px;
        margin-top: 23px;
        text-align: left;
    }

    .banner-text-right {
        text-align: left;
    }

    /*about*/

    .about-section img {
        width: 100%;
        margin-top: 61px;
    }

    .mile-button {
        margin-top: 36px;
        text-align: center;
        margin-bottom: 98px;
    }

    .team-member {
        text-align: center;
        margin-bottom: 29px;
    }

    .p-0 {
        padding: 0px;
    }

    .footer-ITlock {
        text-align: left;
        padding-top: 105px;
        padding-bottom: 105px;
    }
    

    .lp-item {
        display: flex;
        margin-bottom: 11px;
        flex-direction: row;
        text-align: left;
    }

    /*blog*/

    .post-thumb {
        border-radius: 13px;
        margin-bottom: 52px;
        width: 100%;
    }

    .site-pagination {
        margin-bottom: 63px;
    }

    .about-rocket {
        padding-left: 16px;
    }
}